<style scoped lang="scss">
@use '@/style/variables.scss' as *;

.sidebar {
  background: #dedede;
  width: 250px;
  padding: 10px;
  .sidebar__title {
    font-weight: 600;
  }
}

.account {
  padding: 40px 40px 20px 40px;
  .account__title {
    font-size: 26px;
    text-align: left;
    font-weight: 600;
    color: $primary;
    margin-bottom: 30px;
    border-bottom: 1px solid $primary;
  }
  .account__key {
    font-size: 26px;
    text-align: left;
    font-weight: 300;
  }
  .account__button {
    background: $primary;
    color: #fff;
    font-size: 14px;
    margin-left: 5px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .account__label {
    padding-right: 5px;
    width: 150px;
    text-align: left;
  }
}

.wrapper {
  height: calc(100vh - 50px);
}

@media screen and (max-width: 812px) {
  .account {
    padding: 10px;
  }
}
</style>

<template>
  <div class="flex flex-col h-screen">
    <Header />
    <div class="wrapper flex flex-col items-center">
      <StreamChat
        class="w-full"
        v-if="loaded"
        :username="username"
      ></StreamChat>
      <div class="account flex flex-col md:flex-row flex-grow w-full">
        <div class="flex flex-col text-left mb-5 md:w-6/12 px-4">
          <p class="account__title">General Information</p>
          <div class="flex flex-row items-center mb-2">
            <p class="account__label">Title</p>
            <input class="form__input w-full" v-model="stream_info.title" />
          </div>
          <div class="flex flex-row items-center mb-4">
            <p class="account__label">Description</p>
            <input
              class="form__input w-full"
              v-model="stream_info.description"
            />
          </div>
          <p class="account__button self-start mb-4" @click="updateStreamInfo">
            Update Streaming Information
          </p>
        </div>

        <div class="flex flex-col text-left mb-5 md:w-6/12 px-4">
          <p class="account__title">Streaming Key</p>
          <p class="account__key mb-4">{{ stream_key }}</p>
          <p class="account__button self-start mb-4" @click="generateStreamKey">
            Generate a new Key
          </p>
          <p class="account__info">
            Stream Server: <b>rtmp://aksi.tv:1935/live</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from "@/components/Header.vue";
import StreamChat from "@/components/StreamChat.vue";

import moment from "moment";
import axios from "axios";

export default {
  name: "Home",
  components: {
    Header,
    StreamChat,
  },
  created: async function () {
    axios.defaults.headers.common["Authorization"] =
      "JWT " + localStorage.getItem("jwtToken");

    await this.getStreamKey();
  },
  data: function () {
    return {
      stream_key: "Retrieving...",
      stream_info: {
        title: "",
        description: "",
      },
      username: "",
      loaded: false,
    };
  },
  sockets: {},
  filters: {
    formatTime: function (value) {
      return moment(value).format("LT");
    },
  },
  computed: {
    isLoggedIn: function () {
      console.log(this.$store.getters["main/isLoggedIn"]);
      return this.$store.getters["main/isLoggedIn"];
    },
  },
  methods: {
    send: function () {
      console.log("hi");
      this.$socket.emit("chat", {
        message: this.message,
      });
      this.message = "";
      this.$refs.chatbox.scrollTop = this.$refs.chatbox.scrollHeight;
    },
    getStreamKey: async function () {
      let response = await await axios.get(
        process.env.VUE_APP_API + `/streams/stream_key`
      );
      console.log("get stream key", response.data);
      this.stream_key = response.data.stream_key;
      this.stream_info = response.data.stream_info;
      this.username = response.data.username;
      this.loaded = true;
      return response;
    },
    generateStreamKey: async function () {
      let response = await await axios.post(
        process.env.VUE_APP_API + `/streams/stream_key`
      );
      this.stream_key = response.data.stream_key;
      return response;
    },
    updateStreamInfo: async function () {
      let response = await await axios.post(
        process.env.VUE_APP_API + `/streams/update_info`,
        {
          title: this.stream_info.title,
          description: this.stream_info.description,
        }
      );
      return response;
    },
  },
};
</script>
