<style scoped lang="scss">
@use '@/style/variables.scss' as *;

.sidebar {
  background: #dedede;
  width: 250px;
  padding: 10px;
  .sidebar__title {
    font-weight: 600;
  }
}

.live {
  padding: 40px 40px 20px 40px;
  .live__title {
    font-size: 26px;
    text-align: left;
    font-weight: 600;
    color: $primary;
    margin-bottom: 30px;
    border-bottom: 1px solid $primary;
  }
  .live__videos {
    padding: 5px;
  }
  .live__container {
    padding: 5px 5px 10px 5px;
  }
  .live__thumbnail {
    width: 250px;
    min-height: 156.25px;
    background-color: #888;
    border-radius: 5px;
    margin-bottom: 5px;
    img {
      border-radius: 5px;
    }
  }
  .l--title {
    font-weight: 600;
  }
  .l--description {
    font-size: 14px;
  }
}

.stream {
  .stream__thumbnail {
    height: 600px;
    width: 100%;
    background: #f1f1f1;
  }
  .stream__info {
    padding: 10px 30px;
    .l--title {
      font-size: 20px;
      font-weight: 600;
    }
  }
}

.wrapper {
  height: calc(100vh - 50px);
}
@media screen and (max-width: 812px) {
  .live {
    padding: 10px;
  }
}
</style>

<template>
  <div class="flex flex-col h-screen">
    <Header />
    <div class="wrapper flex flex-row">
      <!-- <div class="sidebar flex flex-col items-start">
        <p class="sidebar__title">Subscribed Channels</p>
        <p class="sidebar__title">Recommended Channels</p>
        <p class="sidebar__title">Full Categories</p>
      </div> -->
      <div class="live flex flex-col flex-grow">
        <p class="live__title">Live Streams</p>
        <div class="live__videos flex flex-row flex-wrap">
          <div class="live__container" v-for="(stream, i) in streams" :key="i">
            <div
              class="live__thumbnail cursor-pointer"
              @click="$router.push(`/live/${stream.username}`)"
            >
              <img :src="stream.thumbnail" />
            </div>
            <div class="live__info flex flex-col items-start">
              <p class="l--title">{{ stream.title }}</p>
              <p class="l--description">{{ stream.username }}</p>
            </div>
          </div>
        </div>
        <div v-if="streams.length === 0">
          Please check back later, no streams at the moment..
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from "@/components/Header.vue";

import moment from "moment";
import axios from "axios";

export default {
  name: "Home",
  components: {
    Header,
  },
  created: async function () {
    await this.getLiveStreams();
  },
  data: function () {
    return {
      streams: [],
    };
  },
  sockets: {
    msg: function (res) {
      this.chats.push(res);
    },
  },
  filters: {
    formatTime: function (value) {
      return moment(value).format("LT");
    },
  },
  computed: {
    isLoggedIn: function () {
      console.log(this.$store.getters["main/isLoggedIn"]);
      return this.$store.getters["main/isLoggedIn"];
    },
  },
  methods: {
    send: function () {
      console.log("hi");
      this.$socket.emit("chat", {
        message: this.message,
      });
      this.message = "";
      this.$refs.chatbox.scrollTop = this.$refs.chatbox.scrollHeight;
    },
    getLiveStreams: async function () {
      let response = await axios.get(
        process.env.VUE_APP_MEDIA_SERVER + `/api/streams`
      );
      let streams = response.data;
      if (typeof (streams["live"] !== "undefined")) {
        this.getStreamsInfo(streams["live"]);
      }
      console.log(response);
      return response;
    },
    getStreamsInfo: async function (live_streams) {
      let response = await await axios.get(
        process.env.VUE_APP_API + `/streams/info`,
        { params: { streams: live_streams } }
      );
      console.log("info", response);
      this.streams = response.data.map((x) => {
        return {
          ...x,
          thumbnail:
            process.env.VUE_APP_PRODUCTION === "true"
              ? `/thumbnails/${x.stream_key}.png`
              : `http://127.0.0.1:3011/thumbnails/${x.stream_key}.png`,
        };
      });
      console.log(process.env.VUE_APP_PRODUCTION, this.streams);
      return response;
    },
  },
};
</script>
