<style scoped lang="scss">
@use '@/style/variables.scss' as *;

.sidebar {
  background: #dedede;
  width: 250px;
  padding: 10px;
  .sidebar__title {
    font-weight: 600;
  }
}

.wrapper {
  height: calc(100vh - 50px);
}

@media screen and (max-width: 812px) {
  .stream {
    .stream__info {
      padding: 10px 10px;
      .l--title {
        font-size: 14px;
      }
      .l--description {
        font-size: 12px;
      }
    }
  }
  .chat {
    flex-grow: 1;
    width: 100%;
  }
}
</style>

<template>
  <div class="flex flex-col h-screen">
    <Header />
    <div class="wrapper flex flex-col md:flex-row">
      <!-- <div class="sidebar flex flex-col items-start">
        <p class="sidebar__title">Subscribed Channels</p>
        <p class="sidebar__title">Recommended Channels</p>
        <p class="sidebar__title">Full Categories</p>
      </div> -->
      <div class="stream flex flex-col md:flex-grow">
        <div class="stream__featured">
          <video
            autoplay
            ref="videoPlayer"
            class="video-js vjs-big-play-centered"
          ></video>
          <div class="stream__info flex flex-col items-start">
            <p class="l--title">{{ stream_info.title }}</p>
            <p class="l--description">{{ stream_info.description }}</p>
          </div>
        </div>
      </div>
      <div class="chat flex flex-col items-start justify-between">
        <p class="chat__title">Stream Chat</p>
        <div
          class="chat__chats flex flex-col flex-grow items-start w-full overflow-y-scroll"
          v-chat-scroll="{ always: false, smooth: true }"
          ref="chatbox"
        >
          <div
            class="flex flex-col"
            v-for="(chat, index) in chats"
            :key="index"
          >
            <div class="chat_rows flex flex-row items-end">
              <span class="chat__time">{{ chat.datestamp | formatTime }}</span>
              <div class="inline break-normal text-left">
                <span class="chat__username">{{ chat.username }}:</span>
                <span class="chat__message">{{ chat.message }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="chat__input" v-if="isLoggedIn">
          <div class="flex flex-row">
            <input
              class="chat__form"
              placeholder="Chat here..."
              v-model="message"
              v-on:keyup.enter="send"
            />
            <p class="chat__button flex flex-row items-center" @click="send">
              Send
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from "@/components/Header.vue";
import "video.js/dist/video-js.css";

import videojs from "video.js";
import moment from "moment";
import axios from "axios";

export default {
  name: "Live",
  components: {
    Header,
  },
  created: async function () {
    axios.defaults.headers.common["Authorization"] =
      "JWT " + localStorage.getItem("jwtToken");
    await this.getInfo();

    this.$socket.emit("initiate", {
      room: this.$route.params.username,
    });
  },
  data: function () {
    return {
      chats: [],
      message: "",
      playerOptions: {},
      stream_info: {
        title: "Retrieving Stream Title...",
        description: "Retrieving Stream Description...",
      },
    };
  },
  sockets: {
    msg: function (res) {
      this.chats.push(res);
    },
  },
  filters: {
    formatTime: function (value) {
      return moment(value).format("LT");
    },
  },
  computed: {
    isLoggedIn: function () {
      console.log(this.$store.getters["main/isLoggedIn"]);
      return this.$store.getters["main/isLoggedIn"];
    },
  },
  methods: {
    send: function () {
      if (this.message.length === 0) {
        return;
      }
      console.log("hi");
      this.$socket.emit("chat", {
        message: this.message,
        room: this.$route.params.username,
      });
      this.message = "";
      this.$refs.chatbox.scrollTop = this.$refs.chatbox.scrollHeight;
    },
    getInfo: async function () {
      let response = await axios.post(
        process.env.VUE_APP_API + `/streams/user`,
        { username: this.$route.params.username }
      );
      console.log("info", response);
      let streams = response.data;
      if (streams.live) {
        //Load Information
        this.stream_info.title = streams.stream_info.title;
        this.stream_info.description = streams.stream_info.description;

        // Initiate Player
        let src =
          process.env.VUE_APP_MEDIA_SERVER +
          "/live/" +
          streams.stream_key +
          "/index.m3u8";
        console.log(src);

        this.playerOptions = {
          autoplay: true,
          controls: true,
          sources: [
            {
              src: src,
              type: "application/x-mpegURL",
            },
          ],
          fluid: true,
        };

        this.player = videojs(
          this.$refs.videoPlayer,
          this.playerOptions,
          function onPlayerReady() {
            console.log("onPlayerReady", this);
          }
        );
      }

      return response;
    },
  },
};
</script>
