@use '@/style/variables.scss' as *;

.chat {
  background: #fff;
  border-left: 1px solid #f0f0f0;
  width: 355px;
  padding: 10px;
  .chat__title {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
  }
  .chat__input {
    border-top: 1px solid #f0f0f0;
    padding: 10px;
    width: 100%;
  }
  .chat__form {
    height: 40px;
    border-radius: 5px;
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #f0f0f0;
  }
  .chat__chats {
    .chat_rows {
      padding: 5px 10px;
    }
    .chat__time {
      font-size: 12px;
      color: #aaa;
      padding-right: 5px;
      width: 60px;
    }
    .chat__username {
      font-size: 12px;
      font-weight: 600;
      padding-right: 5px;
    }
    .chat__message {
      font-size: 12px;
      padding-right: 5px;
    }
  }
  .chat__button {
    background: $primary;
    color: #fff;
    font-size: 12px;
    margin-left: 5px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}
.stream {
  .stream__thumbnail {
    height: 600px;
    width: 100%;
    background: #f1f1f1;
  }
  .stream__info {
    padding: 10px 30px;
    .l--title {
      font-size: 20px;
      font-weight: 600;
    }
  }
}
