@use 'components.scss' as *;

* {
  color: #222;
}

.form__input {
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  font-size: 14px;
  padding: 0 10px;
  height: 45px;
}
.form__label {
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  //   color: #008cff;
  color: #555;
}
.form__button {
  background: #008cff;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}
