<style scoped lang="scss">
@use '@/style/variables.scss' as *;

.header {
  background: $primary;
  padding: 10px 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.header__nav {
  padding: 0 10px;
  font-size: 20px;
  color: #fff;
}
.header__title {
  font-weight: 600;
  font-size: 16px;
  padding: 0 10px;
  color: #fff;
}
.header__logo {
  width: 30px;
}
@media screen and (max-width: 812px) {
  .header__nav {
    padding: 0 5px;
    font-size: 14px;
  }
  .header__title {
    font-size: 16px;
    padding: 0 5px;
  }
}
</style>

<template>
  <div class="header flex flex-row items-center justify-between">
    <div class="flex flex-row items-center">
      <img
        class="header__logo"
        src="@/assets/logo.png"
        @click="$router.push('/')"
      />
      <p class="header__title cursor-pointer" @click="$router.push('/')">
        Aksi
      </p>
      <!-- <p class="header__nav">Scheduled</p>
      <p class="header__nav">Categories</p>
      <p class="header__nav">Channels</p>
      <p class="header__nav">Videos</p> -->
    </div>
    <div class="flex flex-row" v-if="!isLoggedIn">
      <p class="header__nav cursor-pointer" @click="showModal('login-modal')">
        Login
      </p>
      <p
        class="header__nav cursor-pointer"
        @click="showModal('register-modal')"
      >
        Sign Up
      </p>
    </div>
    <div class="flex flex-row" v-if="isLoggedIn">
      <p class="header__nav cursor-pointer" @click="$router.push('/account')">
        Go Live
      </p>
      <p class="header__nav cursor-pointer" @click="logout">
        Log Out
      </p>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "HelloWorld",
  props: {},
  data: function () {
    return {};
  },
  computed: {
    isLoggedIn: function () {
      console.log(this.$store.getters["main/isLoggedIn"]);
      return this.$store.getters["main/isLoggedIn"];
    },
  },
  methods: {
    showModal: function (ref) {
      this.$modal.show(ref);
    },
    logout: async function () {
      localStorage.removeItem("jwtToken");

      let response = await axios.post(process.env.VUE_APP_API + `/auth/logout`);

      this.$store.commit("main/isLoggedIn", {
        type: "UPDATE",
        pkg: false,
      });
    },
  },
};
</script>