<style scoped lang="scss">
.auth {
  padding: 20px;
}
.auth__title {
  color: #008cff;
  font-size: 20px;
  font-weight: 800;
}
</style>

<template>
  <modal name="login-modal" height="auto">
    <div class="auth flex flex-col h-full justify-center">
      <p class="auth__title mb-4">Login to Aksi</p>

      <p class="form__label">Username</p>
      <input
        class="form__input mb-4"
        placeholder="Username"
        v-model="username"
      />

      <p class="form__label">Password</p>
      <input
        class="form__input mb-4"
        placeholder="Password"
        type="password"
        v-model="password"
      />

      <p class="form__button" @click="login">Log In</p>
    </div>
  </modal>
</template>

<script>
import axios from "axios";

export default {
  name: "LoginModal",
  props: {},
  data: function () {
    return {
      username: "",
      password: "",
    };
  },
  computed: {},
  methods: {
    login: async function () {
      let response = await axios.post(process.env.VUE_APP_API + `/auth/login`, {
        username: this.username,
        password: this.password,
      });

      if (response.data.success) {
        localStorage.setItem("jwtToken", response.data.token);
        console.log("login");

        //Conect Socket
        //Update Query, Disconnect, and Reconnect
        let query = "auth_token=" + localStorage.getItem("jwtToken");
        this.$socket.io.opts.query = query;
        this.$socket.disconnect();
        this.$socket.connect();

        this.$modal.hide("login-modal");

        this.$store.commit("main/isLoggedIn", {
          type: "UPDATE",
          pkg: true,
        });

        // this.$router.push("/dashboard");
        // this.$notify({
        //   group: "popups",
        //   title: "Login Successful",
        //   text: "Welcome back :)",
        // });
      } else {
        console.log("fail");
      }
    },
  },
};
</script>
