<style scoped lang="scss">
.auth {
  padding: 20px;
}
.auth__title {
  color: #008cff;
  font-size: 20px;
  font-weight: 800;
}
</style>

<template>
  <modal name="register-modal" height="auto">
    <div class="auth flex flex-col h-full justify-center">
      <p class="auth__title mb-4">Join Aksi today</p>

      <p class="form__label">Username</p>
      <input
        class="form__input mb-4"
        placeholder="Username"
        v-model="username"
      />

      <p class="form__label">Password</p>
      <input
        class="form__input mb-4"
        placeholder="Password"
        type="password"
        v-model="password"
      />

      <p class="form__label">Confirm Password</p>
      <input
        class="form__input mb-4"
        placeholder="Conifrm Password"
        type="password"
        v-model="confirmPassword"
      />

      <p class="form__label">Email</p>
      <input class="form__input mb-4" placeholder="Email" v-model="email" />

      <p class="form__button" @click="register">Sign Up</p>
    </div>
  </modal>
</template>

<script>
import axios from "axios";

export default {
  name: "RegisterModal",
  props: {},
  data: function () {
    return {
      username: "",
      password: "",
      confirmPassword: "",
      email: "",
    };
  },
  computed: {},
  methods: {
    register: async function () {
      let response = await axios.post(
        process.env.VUE_APP_API + `/auth/register`,
        {
          username: this.username,
          password: this.password,
          email: this.email,
        }
      );

      if (response.data.success) {
        console.log("success");
        this.$modal.hide("register-modal");
        this.$modal.show("login-modal");
        // this.$router.push("/login");
        // this.$notify({
        //   group: "popups",
        //   title: "Register Successful",
        //   text: "Please Login to continue"
        // });
      }
    },
  },
};
</script>
