<style scoped lang="scss">
@use '@/style/variables.scss' as *;

.account__monitor {
  padding: 20px;
  height: 500px;
}
.account__video {
  width: 100%;
  height: 500px;
}
</style>

<template>
  <div>
    <div class="account__monitor flex flex-col md:flex-row w-full">
      <div class="stream flex flex-col md:flex-grow">
        <div class="stream__featured h-full">
          <video
            autoplay
            ref="videoPlayer"
            class="video-js vjs-big-play-centered h-full w-full"
          ></video>
        </div>
      </div>
      <div
        class="chat flex flex-col items-start justify-between flex-grow md:flex-grow-0"
      >
        <p class="chat__title">Stream Chat</p>
        <div
          class="chat__chats flex flex-col flex-grow items-start w-full overflow-y-scroll"
          v-chat-scroll="{ always: false, smooth: true }"
          ref="chatbox"
        >
          <div
            class="flex flex-col"
            v-for="(chat, index) in chats"
            :key="index"
          >
            <div class="chat_rows flex flex-row items-end">
              <span class="chat__time">{{ chat.datestamp | formatTime }}</span>
              <div class="inline break-normal text-left">
                <span class="chat__username">{{ chat.username }}:</span>
                <span class="chat__message">{{ chat.message }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="chat__input" v-if="isLoggedIn">
          <div class="flex flex-row">
            <input
              class="chat__form"
              placeholder="Chat here..."
              v-model="message"
              v-on:keyup.enter="send"
            />
            <p class="chat__button flex flex-row items-center" @click="send">
              Send
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "video.js/dist/video-js.css";

import videojs from "video.js";
import moment from "moment";
import axios from "axios";

export default {
  name: "StreamChat",
  components: {},
  props: {
    username: String,
  },
  mounted: async function () {
    axios.defaults.headers.common["Authorization"] =
      "JWT " + localStorage.getItem("jwtToken");
    await this.getInfo();

    this.$socket.emit("initiate", {
      room: this.username,
    });

    console.log("hey", this.username);
  },
  data: function () {
    return {
      chats: [],
      message: "",
      playerOptions: {},
      stream_info: {
        title: "Retrieving Stream Title...",
        description: "Retrieving Stream Description...",
      },
    };
  },
  sockets: {
    msg: function (res) {
      this.chats.push(res);
    },
  },
  filters: {
    formatTime: function (value) {
      return moment(value).format("LT");
    },
  },
  computed: {
    isLoggedIn: function () {
      console.log(this.$store.getters["main/isLoggedIn"]);
      return this.$store.getters["main/isLoggedIn"];
    },
  },
  methods: {
    send: function () {
      if (this.message.length === 0) {
        return;
      }
      console.log("hi");
      this.$socket.emit("chat", {
        message: this.message,
        room: this.username,
      });
      this.message = "";
      this.$refs.chatbox.scrollTop = this.$refs.chatbox.scrollHeight;
    },
    getInfo: async function () {
      let response = await axios.post(
        process.env.VUE_APP_API + `/streams/user`,
        { username: this.username }
      );
      console.log("info", response);
      let streams = response.data;
      if (streams.live) {
        //Load Information
        this.stream_info.title = streams.stream_info.title;
        this.stream_info.description = streams.stream_info.description;

        // Initiate Player
        let src =
          process.env.VUE_APP_MEDIA_SERVER +
          "/live/" +
          streams.stream_key +
          "/index.m3u8";
        console.log(src);

        this.playerOptions = {
          autoplay: true,
          controls: true,
          sources: [
            {
              src: src,
              type: "application/x-mpegURL",
            },
          ],
          fluid: true,
        };

        this.player = videojs(
          this.$refs.videoPlayer,
          this.playerOptions,
          function onPlayerReady() {
            console.log("onPlayerReady", this);
          }
        );
      }

      return response;
    },
  },
};
</script>
