<style scoped lang="scss">
</style>

<template>
  <div></div>
</template>

<script>
export default {
  name: "Template",
  props: {},
  data: function () {
    return {};
  },
  computed: {},
  methods: {},
};
</script>
