<template>
  <div id="app">
    <router-view />

    <LoginModal></LoginModal>
    <RegisterModal></RegisterModal>
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>

<script>
import LoginModal from "@/components/LoginModal.vue";
import RegisterModal from "@/components/RegisterModal.vue";

export default {
  name: "App",
  props: {},
  components: {
    LoginModal,
    RegisterModal,
  },
  data: function () {
    return {};
  },
  computed: {},
  methods: {},
};
</script>
